<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<%- include('../partials/favicon'); %>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Discord">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#8c72da">
<title translate="no">Discolounge - Blog</title>
<meta name="description" content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!">
<meta property="og:title" content="Discord Servers" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://discolounge.net/" />
<meta property="og:description" content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!" />
<meta name="theme-color" content="#8c72da">
<meta property="og:image:alt" content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!" />
<meta property="og:site_name" content="Discolounge" />
<link rel='canonical' href='https://discolounge.net/' />

<meta property="twitter:url" content="https://discolounge.net/">
<meta property="twitter:title" content="Discord Servers">
<meta property="twitter:description" content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!">
<script src="/jquery.js" ></script>
<script src="/poper.js" ></script>
<link rel="stylesheet" href="/boostrap.css" >
<script src="/boostrap.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/font.js" ></script>
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/events.css">
<script src="/events.js" ></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<%- include('../partials/navbar'); %>

<body>
    <%var query = locals.url.split('?short=')[1]%>
    <div style="margin-top:30px;width:80%" class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="events-nav">
                    <div class="events-nav-card<%if(query === 'participatePeople' || !query){%>-active <%}%>" onclick="window.location.href = '?short=participatePeople'">Popular</div>
                    <div class="events-nav-card<%if(query === 'createdAt' ){%>-active <%}%>" onclick="window.location.href = '?short=createdAt'">Recent</div>
                    <div class="events-nav-card<%if(query === 'startDate' ){%>-active <%}%>" onclick="window.location.href = '?short=startDate'">Upcoming</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="events-card">
                    <h3> <i class="fas fa-gift"></i> Discord Server Events</h3>
                    <p>Discover Discord server events using our event Discovery feature.Explore Hundreds of discord server Events </p>
                </div>
                <%var query = locals.url.split('?short=')[1] ;data.sort((a,b)=>{
                    return  new Date(b[query]) -  new Date(a[query])
                    }).forEach(event=>{%>
                        <div  class="event-card container" onclick="window.location.href = 'https://discolounge.net/server/<%=event.local[0].id%>';">
                                    <div class="row">
                                      <div class="col-md-2"> <img alt="<%=event.name%>" style="width:120px;height:120px;border-radius:10px;object-fit: cover" class='server-icon'  <%if(event.icon){%> src="https://cdn.discordapp.com/icons/<%=event.id%>/<%=event.icon%>.png" <%}else{%> src="https://cdn.discordapp.com/icons/1042848358701736036/637b11544bece733c840a8caed35d01e.png" <%}%> >
                                      </div>
                                      <div class="col-md-10"> 
                                        <p style="margin-left:10px;font-size:20px;border-bottom:2px solid #8c72da58"><%=event.title%><br> <small style="font-size:15px;">in <%=event.local[0].name%></small></p>
                                        <div style="margin-left:10px;letter-spacing: 1px;" class="event-card-content">
                                            <p><%=event.content.split(0,100)[0]%></p>
                                          </div>
                                          <div class="event-card-footer">
                                              <div class="row">
                                                <div class="col-md-4"> <div onclick="participate('<%=event.id%>','<%=event.local[0].id%>')" class="event-confimed-people"><i style="color:#5fe068"c class="fas fa-street-view"></i> <%=event.participatePeople.length%> Confirmed  </div>
                                            </div>
                                                <div class="col-md-4"> <div class="event-date"  data-toggle="tooltip" data-placement="top" title="Start Date"><i class="fas fa-calendar"></i> <%=new Date(event.startDate).getDate() %>/<%=new Date(event.startDate).getMonth()  + 1%>/<%=new Date(event.startDate).getFullYear()%></div>
                                              </div>
                                              <div class="col-md-4"> <div class="event-date"  data-toggle="tooltip" data-placement="top" title="End Date"><i class="fas fa-calendar"></i> <%=new Date(event.endDate).getDate() %>/<%=new Date(event.endDate).getMonth()  + 1%>/<%=new Date(event.endDate).getFullYear()%></div>
                                            </div>
                                              </div>
                                   
                                          </div>
                                          
                                    </div>
                                    </div>
                                  
                                
                              


                               
                              
                
                           
                          </div>
                    <%})%>
            </div>
        </div>




    </div>

</body>
<script>
    function participate(id,serverID) {
fetch(`/participate/event?event_id=${id}&server_id=${serverID}`, { method: "POST",
headers: {
'Authorization': `612e56ae77b0c128b2c9e1813a7`,
"Content-Type": "application/json",
},
})
.then(res => res.json())
.then(async response => {
  toastr[response.icon](response.content)
})     
}  
</script>
<%- include('../partials/footer'); %>
<script type="text/javascript">
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>